*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 1140px;
    margin: 0 auto;
}
a{
    text-decoration: none;
}


ul{
    list-style: none;
}

.nav .container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: aqua;

    
background: #FFFFFF;
box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.nav-title{
font-size: 40px;
}

.nav-list{
display: flex;
align-items: center;
}

.nav-item{
    margin-left: 20px;
    font-size: 15px;
    padding: 5px 10px;
}

.nav-item:hover{
    background-color:rgb(195, 211, 226) ;
    padding: 5px 10px;
    margin-top: 3px;
    border-bottom: solid 1px ;

}

.nav-link{color: rgb(0, 8, 19);}

.navv-link{color: white;}

.nav-item:nth-child(7){
background: #00BAFC;
border-radius: 5px;
padding: 10px 20px;}

.head .container{display: flex;
align-items: center;
justify-content: space-between;

margin-top: 100px;}

.head-title{width: 470px;
    height: 78px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 130%;
     color: #000000;
    
    margin-bottom: 20px;}

.head-text{width: 430px;
    height: 74px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
 color: #000000;

margin-bottom: 30px;} 

.head-link{color: white;}

.head-item:nth-child(3){background: #00BAFC;
width: 200px;
border-radius: 5px;
padding: 10px 20px;}


.body .container{margin-top: 100px;}

.body-headline{text-align: center;
font-size: 40px;}

.body-text{text-align: center;
    margin: 30px 0px;
width: 600px;
margin-left: 300px;}

.said-list{
text-align: center;
padding: 24px;
gap: 16px;
width: 320px;
height: 260px;
background: #FFFFFF;
box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
border-radius: 5px;
margin: 20px;
}

.said .container{display: flex;

    justify-content: center;
flex-wrap:wrap;
}


.sidebar .container{margin-top: 100px;}

.sidebar-title{text-align: center;
font-size: 40px;}

.sidebar-text{text-align: center;
    margin: 30px 0px;
width: 600px;
margin-left: 300px;}

.aside{margin-top: 100px;}
.aside .container{display: flex;
align-items: center;
justify-content: space-evenly;}

.aside-title{margin-bottom: 10px;}

.combo{margin-top: 100px;}
.combo .container{display: flex;
align-items: center;
justify-content: space-evenly;}

.combo-title{margin-bottom: 10px;}

.btn .container{display: flex;
align-items: center;
justify-content: center;}

.button-btn{padding: 10px 30px;
    margin-bottom: 80px;
margin-top: 50px;
background-color: #1197cc;
font-weight: 700;
font-size: 16px;
line-height: 24px;
border-radius: 8px;
color: #FFFFFF;}

.button-btn:active{transform: translateY(4px) translateX(4px) ;
box-shadow: #094c66 5px 5px 5px;}


.dask{background-color: #00BAFC;
padding: 30px;}

.desk-list{text-align: center;
margin-left: 180px;
padding: 20px;
width: 750px;
margin-top: 10px;}

.desk-title{color: white;
font-size: 30px;}

.desk-text{margin-top: 20px;
color: white;
font-size: 20px;}


.desktob .container{padding: 10px ;
    width: 300px;
   
    background-color: white;}
    
.desktob-list{text-align: center;
margin: 5px ;}


.input-name{padding: 10px 40px;
    background: #a79d9d;
    border-radius: 5px;}

.input-phone{padding: 10px 40px;
    background: #a79d9d;
    margin: 20px;
    border-radius: 5px;}

.input-type{padding: 10px 40px;
    background:  #a79d9d;
    border-radius: 5px;}

.desktob-btn{padding: 10px 30px;
    margin-left: 40px;
    margin-top: 30px;
    background-color: #00BAFC;
    color:white;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;}

.footer{background-color: black;}

.footer .container{display: flex;
justify-content: space-evenly;
padding: 50px;}

.last-list{width: 280px;}
.last-title{color: white;}
.last-text{margin-top: 10px;
color: white;}

.short-item{margin-top: 5px;
color: white;}

.find{display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
width: 100px;
}

.bar-list{margin-top: 10px;}
.bar-lists{margin-top: 10px;
margin-left: 10px;
color: white;}

.bar-title{color: white;}
